body {
    font-family: 'Noto Sans', sans-serif;
    background: #aeacf0;

}

h1, h2, h3, h4 {
    font-family: 'Robo Mono', monospace;
}

.container{max-width: 840px;
    margin: 0 auto;
}

.container> div {
    margin: 20px auto;
}

.intro {text-align: center;}


.about-grid {display: grid;
    grid-template-columns: 50% 50%

}
.i-am, .i-like {text-align: center;
}

.about-list {
    display: center;
list-style: none;}

@media (max-width: 480px) 
{.about-grid {grid-template-columns: 100%;
    }
    
}
.project-headings {
    text-align: center;
}
.project-grid {display: grid;
    grid-template-columns: 50% 50%;
}

.projecttt-image {
    justify-self: center;
    padding: 4%;
    position: relative;
}

.project-image{
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 rgb( 34, 60, 80, 0, 0.16);
    transition: all ease-in-out .2px;
}
.project-image:hover{
    filter: brightness (.75);
    box-shadow: 0 8px 12 px 0 rgb (24, 60, 80, 0, 0.16)
}
.projecttt-image:hover> h4 {
    visibility: visible;

}
.projecttt-image> h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    visibility: hidden;
    z-index: 2;
    transition: all ease-in-out .2%;
}
.project-image {
    justify-self: center;
    padding: 2%;
}
.mine {
    text-align: center;
}
@media (max-width: 650px) {
    .project-grid { grid-template-columns: 100%;
    }
}
.contacts {
    display: grid;
    grid-template-columns: 30% 70%;
}
    .links{
        justify-self:  center;
    }
    .links-list {
        list-style: none;
        padding: 0;

    }
    @media (max-width: 650px){
        .contacts {
            grid-template-columns:100%;
        }
        
    }
    .profile-pic {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        box-shadow: 0 4px 6px 0 rgb(30, 60, 80, 0.16);
        transition: all ease-in-out .2px;
    }
    .profile-pic:hover {
        box-shadow: 0 8px 12 px 0 rgb(30, 60, 80, 0.16);
   }
    .project-image{
        border-radius: 5px;
        box-shadow: 0 4px 6px 0 rgb( 34, 60, 80, 0, 0.16);
        transition: all ease-in-out .2px;
    }
    .project-image:hover{
        filter: brightness (.75);
        box-shadow: 0 8px 12 px 0 rgb (24, 60, 80, 0, 0.16)
    }
    .projecttt-image:hover> h4 {
        visibility: visible;

    }
    .projecttt-image> h4 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        visibility: hidden;
        z-index: 2;
        transition: all ease-in-out .2%;
    }
form input, textarea {
    padding: 20px;
    border-radius: 5px;
    width: 240px;
    height: 10px;
}

form input [type="submit"] {
    width: 240px;

}
.submit-wrapper{
    margin: 2px 0;

}
@media (max-width: 480px) {
    .about-grid {
        grid-template-columns: 100%;
    }
}
hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba( 0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

.submit {
    background-color:blue;
    border-color:red;
    color:white;
    }

  
    
